<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlotGOAT</title>
</head>
<body>
    <h1>PlotGOAT - Datei hochladen</h1>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Datei hochladen</button>
    </form>

    {% if plot_url %}
        <h2>Generiertes Diagramm:</h2>
        <img src="{{ plot_url }}" alt="Plot">
    {% endif %}
</body>
</html>
